<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="main-header">
        <div class="header-logo-ml">
            <figure class ='header-logo'>
                <img src = '/images/logo-mercado-liebre.svg' alt = "logo-ml">
            </figure>
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas">
                <!--<button type="submit">
                    <i class="fas fa-search"></i>
                </button>-->
            </form>
            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin interés
            </div>
        </div>
        <nav class = "header-navbar">
            <ul class="left-navbar">
                <li><a href = "">Ofertas</a></li>
                <li><a href = "">Tiendas oficiales</a></li>
                <li><a href = "">Vender</a></li>
                <li><a href = "">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href = "">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href = "">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href = "">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

    </header>
    
     <main>
        <form action="./" method="GET" class="login-form" >

            <fieldset class="form-element-login">
                <label for="nombreUsuario">
                    <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario">
                </label>
            </fieldset>

            <fieldset class="form-element-login">
                <label for="password">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </label>
            </fieldset>

            <fieldset class="form-button-login">
                <button type="submit">
                    Ingresá
                </button>
            </fieldset>

        </form>
    </main>

    <footer class="box-footer">
        <div class="box-footer-container">
            <section class="promocion-footer">
                <div><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="promocion-footer">
                <div><i class="fas fa-gift"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>           
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="promocion-footer">
                <div><i class="fas fa-user-shield"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </section>

            <section id = "copyright">
                <h4>Copyright © 1999 - 2020 MercadoLiebre S.R.L</h4>
            </section>
         </div>  
    </footer>

</body>

</html>