<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header class="header">
        <nav class = "navbar">
            <div class="navbar__top">
                <figure class ='navbar__logo'>
                    <img class= "navbar__logoImage" src = '/images/logo-mercado-liebre.svg' alt = "logo-ml">
                </figure>
                <form class="navbar__searchbar" action="#">
                    <input class="navbar__searchbarInput" type="text" placeholder="Buscar productos, marcas">
                    <button class="button" type="submit">
                        <i class="fas fa-search button__icon"></i>
                    </button>
                </form>
                <div class="navbar__copyHeader">
                    <i class="fas fa-hand-holding-usd navbar__icon"></i>
                    <p class="navbar__text">Comprá en cuotas y sin interés</p> 
                </div>
                <a href="#" class="burger-menu burgerMenu">
                    <i class="fas fa-bars burgerMenu__icon"></i>
                </a>
            </div>
            <div class="navbar__bottomConteiner">
                <ul class="navbar__bottom navbar__bottom--left">
                    <li class="navbar__bottomLi"><a class="navbar__link" href = "">Ofertas</a></li>
                    <li class="navbar__bottomLi"><a class="navbar__link" href = "">Tiendas oficiales</a></li>
                    <li class="navbar__bottomLi"><a class="navbar__link" href = "">Vender</a></li>
                    <li class="navbar__bottomLi"><a class="navbar__link" href = "">Ayuda</a></li>
                </ul>
                <ul class="navbar__bottom navbar__bottom--right">
                    <li class="navbar__bottomLi navbar__bottomLi--right"><a class="navbar__link" href = "./register">Creá tu cuenta <i class="fas fa-id-card navbar__icon navbar__icon--bottom"></i></a></li>
                    <li class="navbar__bottomLi navbar__bottomLi--right"><a class="navbar__link" href = "./login">Ingresá <i class="fas fa-sign-in-alt navbar__icon navbar__icon--bottom"></i></a></li>
                    <li class="navbar__bottomLi navbar__bottomLi--right"><a class="navbar__link" href = "">Mis compras <i class="fas fa-shopping-basket navbar__icon navbar__icon--bottom"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
     <main class="main">
        <form action="./" method="GET" class="registerForm" >
            <!-----------Nombre y Apellido------------>
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel" for="nombre">
                    <p class="registerForm__elementP">Nombre</p> 
                    <input class="registerForm__elementInput" type="text" name="nombre" id="nombre" required>
                </label>
                <label class="registerForm__elementLabel" for="apellido">
                    <p class="registerForm__elementP">Apellido</p> 
                    <input class="registerForm__elementInput" type="text" name="apellido" id="apellido" required>
                </label>
            </fieldset>
            <!--Username, contraseña-->
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel registerForm__elementLabel--width" for="nombreDeUsuario">
                    <p class="registerForm__elementP">Nombre de usuario</p> 
                    <input class="registerForm__elementInput" type="text" name="nombreDeUsuario" id="nombreDeUsuario"required minlength="5">
                </label>
                <label class="registerForm__elementLabel " for="contraseña">
                    <p class="registerForm__elementP">Contraseña</p> 
                    <input class="registerForm__elementInput" type="password" name="contraseña" id="contraseña">
                </label>
                <label class="registerForm__elementLabel " for="contraseña2">
                    <p class="registerForm__elementP">Confirmá contraseña</p> 
                    <input class="registerForm__elementInput" type="password" name="contraseña2" id="contraseña2">
                </label>
            <!--Fecha de nacimiento-->
            </fieldset>
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel registerForm__elementLabel--width" for="fechaNacimiento">
                    <p class="registerForm__elementP">Fecha de nacimiento</p> 
                    <input class="registerForm__elementInput" type="date" name="fechaNacimiento" id="fechaNacimiento" required>
                </label>
            </fieldset>
            <!-- Foto de perfil -->
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel registerForm__elementLabel--width" for="profilephoto">
                    <p class="registerForm__elementP">Seleccioná tu foto de perfil</p> 
                    <input class="registerForm__elementInput" type="file" name="profilephoto" id="profilephoto" accept=".jpg, .png">
                </label>
            </fieldset>
            <!-- Domicilio -->
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel registerForm__elementLabel--width" for="domicilio">
                    <p class="registerForm__elementP">Domicilio</p>
                </label>
                <label class="registerForm__elementLabel" for="calle">
                    <p class="registerForm__elementP">Calle</p> 
                    <input class="registerForm__elementInput" type="text" name="calle" id="calle" required>
                </label>
                <label class="registerForm__elementLabel" for="numero">
                    <p class="registerForm__elementP">Número</p> 
                    <input class="registerForm__elementInput" type="text" name="numero" id="numero" required>
                </label>
                <label class="registerForm__elementLabel" for="departamentoo">
                    <p class="registerForm__elementP">Departamento</p> 
                    <input class="registerForm__elementInput" type="text" name="departamento" id="departamento">
                </label>
                <label class="registerForm__elementLabel" for="piso">
                    <p class="registerForm__elementP">Piso</p> 
                    <input class="registerForm__elementInput" type="text" name="piso" id="piso">
                </label>
            </fieldset>
            <!----------- | RadioButon | ------------>
            <fieldset class="registerForm__element">
                <label class="registerForm__elementLabel  registerForm__elementLabel--width" for="perfilDeCuenta">
                    <p class="registerForm__elementP">Perfil de cuenta</p>
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="vendedor">
                    <input class="registerForm__elementInputRadio" type="radio" name="compraOvende" id="vendedor" value="vende" checked>
                    Vendedor
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="comprador">
                    <input class="registerForm__elementInputRadio" type="radio" name="compraOvende" id="comprador" value="compra">
                    Comprador
                </label>
                <!----------- | Checkbox | ------------>
                <label class="registerForm__elementLabel  registerForm__elementLabel--width" for="perfilDeCuenta">
                    <p class="registerForm__elementP">Indicá tus intereses y/o preferencias</p>
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="electro">
                    <input class="registerForm__elementInputRadio" type="checkbox" name="categoria" id="electro" value="electro">
                    Electro
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="moda">
                    <input class="registerForm__elementInputRadio" type="checkbox" name="categoria" id="moda" value="electro">
                    Moda
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="hogar">
                    <input class="registerForm__elementInputRadio" type="checkbox" name="categoria" id="hogar" value="hogar">
                    Hogar
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="jugueteria">
                    <input class="registerForm__elementInputRadio" type="checkbox" name="categoria" id="jugueteria" value="jugueteria">
                    Jugueteria
                </label>
                <label class="registerForm__elementLabel registerForm__elementLabel--radio" for="vidaSana">
                    <input class="registerForm__elementInputRadio" type="checkbox" name="categoria" id="vidaSana" value="vidaSana">
                    Vida Sana
                </label>
            </fieldset>
            <fieldset class="registerForm__boxButtons">
                <button class="registerForm__button" type="submit">
                    Enviar 
                </button>
                <button class="registerForm__button" type="reset">
                    Borrar 
                </button>
            </fieldset>
        </form>
    </main>

    <footer class="footer">
        <div class="footer-conteiner">
            <section class="box-footer">
                <div><i class="fas fa-credit-card box-footer__icon"></i></div>
                <h3 class="box-footer__title">Pagá con tarjeta o en efectivo</h3>
                <p class="box-footer__text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="box-footer">
                <div><i class="fas fa-gift box-footer__icon"></i></div>
                <h3 class="box-footer__title">Envío gratis desde $ 2.500</h3>           
                <p class="box-footer__text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="box-footer">
                <div><i class="fas fa-user-shield box-footer__icon"></i></div>
                <h3 class="box-footer__title">Seguridad, de principio a fin</h3>
                <p class="box-footer__text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </section>
        </div> 
        <section class="box-footer__copyright">
            <h4 class="box-footer__title box-footer__title--copyright">Copyright © 1999 - 2020 MercadoLiebre S.R.L</h4>
        </section> 
    </footer>

  
</body>

</html>