@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Etiquetas generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
}


/* --------------------- Header --------------------- */
.header {
    background-color: #EAC926;
    width: 100%;
}

.navbar__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.navbar__logo {
    margin: 0;
    padding: 5px;
    width: 40%
}

.navbar__logoImage {
    width: 100%;
}

.navbar__searchbar {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar__searchbarInput {
    width: 80%;
    border-style: none;
}

.button {
    border-style: none;
    background-color: white;
    border:none;
    position: absolute;
    right: 11%;
    margin: 0;
    padding:0;
    border-radius: 5px;
}

.button__icon {
    font-size: 100%;
}

.navbar__bottomConteiner {
    display: none;
}

.button__icon {
    color: #1259c3 ;
}

.navbar__copyHeader {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.navbar__text {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.navbar__icon {
    margin-right: 10px;
    font-size: 15px;
}

.burgerMenu {
    background-color: #03264C;
    color: white;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.burgerMenu__icon {
    padding: 10px;
    font-size: 12px;
}



/* --------------------- Main --------------------- */

.main {
    background-color: #ebebeb;
}

.main__banner {
    margin: 0;
    width: 100%;
}

.main__bannerImage {
    width: 100%;
}

.box-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.box-section--marginTop {
    margin-top: 40px;
    padding-bottom: 30px;
}

.box-section__title {
    font-size: 20px;
    color:black;
    font-weight: bold;
    padding: 0 0 0 10px;
    margin: 0;
    width: 80%;
}

.container-boxes {
    width: 90%;
}

.box-section__title {
    align-self: flex-start;
    width: 100%;
}

.product {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    position: relative;
}

.product__image {
    width: 100%;
    padding: 0;
    margin: 0;
}

.product__photo {
    width: 100%;
}

.product__info {
    border-top: solid 5px #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product__title {
    width:100%;
}

.product__price {
    font-size: 18px;
    margin: 0;
    padding: 10px 5px;
    font-weight: bold;
}

.product__discount {
    font-size: 16px;
    padding: 5px 5px;
    margin: 0;
    color: green;
}

.product__description {
    font-size: 18px;
    display: none;
    width: 100%;
    margin: 0;
}

.product__icon {
    position: absolute;
    left: 80%;
    bottom: 51px;
    border: solid 1px #1259c3;
    border-radius: 50px;
    margin: 0;
}

.product__iconTruck {
    color: #1259c3;
    padding: 10px;
    font-size: 5vw;
}


/* --------------------- Footer --------------------- */

.footer {
    background-color: #ebebeb;
    width: 100vw;
}

.footer-conteiner {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.box-footer {
    text-align: center;
    background-color: white;

}

.box-footer__icon {
    margin-top: 25px;
    color: #1259c3;
    font-size: 25px;
}

.box-footer__title {
    margin: 8px 0;
}

.box-footer__text {
    padding: 8px 0 25px 0;
    margin: 0;
}

.box-footer__copyright {
    text-align: left;
}

.box-footer__title--copyright {
    margin: 0;
    font-size: 13px;
    padding: 20px 20px;
}



/* --------------------- Media queries --------------------- */

 @media (min-width: 361px) {
    .container-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .box-section {
        max-width: 600px;
        margin: auto;
        padding-top: 40px;
    }
    .product {
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .product__icon {
        left: 79%;
        bottom: 49px;
    }

    .product__iconTruck {
        padding: 5px;
        font-size: 10px;
    }

    .product__info {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product__title--width {
        width: 45%;
        padding: 0 0 10px 0;
    }

    .product__price {
        font-size: 14px;
        margin:0;
        padding:6px 3px 0 6px;
    }
    
    .product__discount {
        font-size: 12px;
        padding: 8px 0 0 0;
        margin: 0;
        color: green;
    }
    
    .product__description {
        font-weight: normal;
        font-size: 14px;
        display: block;
        padding: 0 0 10px 5px;
        margin: 0;
    }

    /*Header*/

    .navbar__top {
        justify-content: space-between;
        align-items: center;
    }

    .navbar__logo {
        width: 30%;
    }

    .navbar__searchbar {
        width: 35%;
    }

    .navbar__copyHeader {
        width: 25%;
    }

    .navbar__text {
        font-size: 10px;
    }

    .burgerMenu {
       display: none;
    }

    .navbar__bottomConteiner {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    .navbar__bottom {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 5px 0 5px 0;
        font-size: 12px;
    }

    .navbar__bottom--right {
        justify-content: space-evenly;
        width: 50%;
    }

    .navbar__bottom--left {
        justify-content: space-evenly;
        width: 68%;
    }
    
    .navbar__bottomLi {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .navbar__bottomLi--right {
        padding:0;
    }

    .navbar__link {
        padding: 0;
        margin: 0;
        color: black;
        text-decoration: none;
        font-size: 10px;
    }

    .navbar__icon--bottom {
        margin: 0;
        font-size: 8px;
        padding: 0;
    }
}


 @media (min-width: 768px) {

    .navbar__searchbarInput {
        border-radius: 5px;
        box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.42);
    }

    .box-section {
       max-width: none;
       padding-top: 40px;
    }

    .product {
        width: 20%;
        transition: 800ms;
    }

    .product__icon {
        transition: 1.5s;
    }

    .navbar__logo {
        max-width: 225px;
    }
    
    .navbar__copyHeader {
        justify-content: flex-start;
    }

    .navbar__text {
        font-size: 1.3vw;
    }

    .navbar__link {
        font-size: 1.2vw;
    }

    .navbar__icon--bottom {
        font-size: 1vw;
    }

    .box-footer {
        width: 70%;
    }

   .product:hover {
       transform: scale(1.1);
   }

   .navbar__link:hover {
       font-weight: bold;
   }

   .navbar__bottomLi:hover {
    transform: scale(1.1);
   }

   .product:hover > .product__info > .product__icon {
       transform: rotateY(360deg);
   }

   .box-footer:hover {
       background-color: rgb(160, 160, 160);
   }

   .navbar__searchbarInput:focus {
       outline: none;
   }
}




