@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Etiquetas generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
}


/* --------------------- Header --------------------- */
.header {
    background-color: #EAC926;
    width: 100%;
}

.navbar__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.navbar__logo {
    margin: 0;
    padding: 5px;
    width: 40%
}

.navbar__logoImage {
    width: 100%;
}

.navbar__searchbar {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar__searchbarInput {
    width: 80%;
    border-style: none;
}

.button {
    border-style: none;
    background-color: white;
    border:none;
    position: absolute;
    right: 11%;
    margin: 0;
    padding:0;
    border-radius: 5px;
}

.button__icon {
    font-size: 100%;
}

.navbar__bottomConteiner {
    display: none;
}

.button__icon {
    color: #1259c3 ;
}

.navbar__copyHeader {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.navbar__text {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.navbar__icon {
    margin-right: 10px;
    font-size: 15px;
}

.burgerMenu {
    background-color: #03264C;
    color: white;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.burgerMenu__icon {
    padding: 10px;
    font-size: 12px;
}



/* --------------------- Main --------------------- */

.main {
    background-color: #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ----- | Formulario de registro | ----- */
/* Contenedor de formulario */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px auto 0;
    padding: 10px;
}

.form-element-login {
    padding: 0;
    margin-bottom: 10px;
    width: 70%;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.form-element-login__input {
    width: 100%;
    background-color: transparent;
    border: none;
}

.form-button-login {
    padding: 0;
    margin-top: 15px;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    background-color: #1259c3; ;
    border:none;
}

.form-button-login__button  {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

/* --------------------- Footer --------------------- */

.footer {
    background-color: #ebebeb;
    width: 100vw;
    padding-top: 20px;
}

.footer-conteiner {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.box-footer {
    text-align: center;
    background-color: white;
}

.box-footer__icon {
    margin-top: 25px;
    color: #1259c3;
    font-size: 25px;
}

.box-footer__title {
    margin: 8px 0;
}

.box-footer__text {
    padding: 8px 0 25px 0;
    margin: 0;
}

.box-footer__copyright {
    text-align: left;
}

.box-footer__title--copyright {
    margin: 0;
    font-size: 13px;
    padding: 20px 20px;
}



/* --------------------- Media queries --------------------- */

 @media (min-width: 361px) {
    /*Header*/

    .navbar__top {
        justify-content: space-between;
        align-items: center;
    }

    .navbar__logo {
        width: 30%;
    }

    .navbar__searchbar {
        width: 35%;
    }

    .navbar__copyHeader {
        width: 25%;
    }

    .navbar__text {
        font-size: 10px;
    }

    .burgerMenu {
       display: none;
    }

    .navbar__bottomConteiner {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    .navbar__bottom {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 5px 0 5px 0;
        font-size: 12px;
    }

    .navbar__bottom--right {
        justify-content: space-evenly;
        width: 50%;
    }

    .navbar__bottom--left {
        justify-content: space-evenly;
        width: 68%;
    }
    
    .navbar__bottomLi {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .navbar__bottomLi--right {
        padding:0;
    }

    .navbar__link {
        padding: 0;
        margin: 0;
        color: black;
        text-decoration: none;
        font-size: 10px;
    }

    .navbar__icon--bottom {
        margin: 0;
        font-size: 8px;
        padding: 0;
    }
}


 @media (min-width: 768px) {

    .navbar__searchbarInput {
        border-radius: 5px;
        box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.42);
    }

    .navbar__logo {
        max-width: 225px;
    }
    
    .navbar__copyHeader {
        justify-content: flex-start;
    }

    .navbar__text {
        font-size: 1.3vw;
    }

    .navbar__link {
        font-size: 1.2vw;
    }

    .navbar__icon--bottom {
        font-size: 1vw;
    }

    .box-footer {
        width: 70%;
    }

   .product:hover {
       transform: scale(1.1);
   }

   .navbar__link:hover {
       font-weight: bold;
   }

   .navbar__bottomLi:hover {
    transform: scale(1.1);
   }

   .product:hover > .product__info > .product__icon {
       transform: rotateY(360deg);
   }

   .box-footer:hover {
       background-color: rgb(160, 160, 160);
   }

   .navbar__searchbarInput:focus {
       outline: none;
   }

   .login-form {
       max-width: 600px;
   }

   .form-element-login__input:focus {
       outline: none;
   }
   
   .form-button-login__button:hover {
        background-color: #03264C;
    }

    .form-button-login:hover {
        background-color: #03264C;
    }

}









